body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}
.section h2 {
    color: #2563eb;
}
.app-container h2{
  color:#99aacd
}
.app-container {
    padding: 20px;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.sidebar {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 15px 0;
}

.sidebar li {
    cursor: pointer;
    font-weight: bold;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.section input,
.section select {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.asset-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
    margin-top: 20px;
}

.asset-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow:
        0 2px 8px rgba(0,0,0,0.1);
}

.asset-id {
    color: gray;
    font-size: 14px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.status {
    font-weight: bold;
}

.available {
    color: green;
}

.assigned {
    color: royalblue;
}

.under-repair {
    color: darkorange;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    min-width: 300px;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.pagination-btn {
    width: auto;
    padding: 8px 16px;
}

.page-info {
    font-weight: bold;
}

.summary-card {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 20px;
    min-width: 220px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
}

.summary-card:hover {
    transform: translateY(-4px);
}

.summary-card h3 {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.summary-card h2 {
    margin-top: 10px;
    font-size: 2rem;
    color: #222;
}

.dashboard-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;

    margin-top: 20px;
}